In [ ]:
1. Python Introduction

In [1]:
print("Welcome to Python Programming!")

Welcome to Python Programming!

In [ ]:
2. Python IDE Example (simple script)

In [3]:
# myscript.py
username = "Alice"
print("Hello", username)

Hello Alice

In [ ]:
3. Python DataTypes

In [4]:
a = 10                 # int
b = 3.14               # float
c = "Hello"            # string
d = [1, 2, 3]          # list
e = (4, 5, 6)          # tuple
f = {"name": "Bob"}    # dict
g = True               # boolean

print(type(a), type(d), type(f))

<class 'int'> <class 'list'> <class 'dict'>

In [5]:
integer_num = 10
float_num = 3.14
string_text = "Python"
list_data = [1, 2, 3]
tuple_data = (4, 5, 6)
dict_data = {"name": "John", "age": 25}
boolean_value = True

print(type(list_data), type(dict_data))

<class 'list'> <class 'dict'>

In [ ]:
4. Python Conditions

In [6]:
age = 20

if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

In [7]:
age = 20

if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible")

Eligible to vote

In [ ]:
5. Python Nested Conditions

In [8]:
marks = 72

if marks >= 50:
    print("Pass")
    if marks >= 90:
        print("Grade A+")
    elif marks >= 70:
        print("Grade A")
    else:
        print("Grade B")
else:
    print("Fail")

Pass
Grade A

In [ ]:
6. Python Loops

In [10]:
# for loop
for i in range(5):
    print("Python", i)

# while loop
count = 3
while count > 0:
    print("Count =", count)
    count -= 1

Python 0
Python 1
Python 2
Python 3
Python 4
Count = 3
Count = 2
Count = 1

In [ ]:
7. Python Functions

In [11]:
def add(a, b):
    return a + b

result = add(5, 7)
print("Sum:", result)

Sum: 12

In [12]:
def greet(name):
    return "Hello " + name

print(greet("Alice"))

Hello Alice

In [ ]:
8. OOPs Python

In [13]:
class Car:
    def __init__(self, brand, year):
        self.brand = brand
        self.year = year
    
    def start(self):
        print(self.brand, "is starting...")

my_car = Car("Toyota", 2022)
my_car.start()

Toyota is starting...

In [14]:
class Student:
    def __init__(self, name, course):
        self.name = name
        self.course = course

    def show(self):
        print("Name:", self.name)
        print("Course:", self.course)

s1 = Student("John", "Python")
s1.show()

Name: John
Course: Python

In [ ]:
9. Python Packages

In [15]:
import math
import random

print("Square root:", math.sqrt(16))
print("Random number:", random.randint(1, 10))

Square root: 4.0
Random number: 4

In [ ]:
10. Pandas

In [16]:
import pandas as pd

data = {
    "Name": ["John", "Alice", "Bob"],
    "Age": [23, 30, 27]
}

df = pd.DataFrame(data)
print(df)

    Name  Age
0   John   23
1  Alice   30
2    Bob   27

In [ ]:
11. NumPy

In [17]:
import numpy as np

arr = np.array([1, 2, 3, 4])
print("Array:", arr)
print("Mean:", np.mean(arr))

Array: [1 2 3 4]
Mean: 2.5

In [ ]:
12. Debug & Exception Handling

In [18]:
try:
    x = int("abc")   # error
except ValueError as e:
    print("Error:", e)
finally:
    print("Execution completed")

Error: invalid literal for int() with base 10: 'abc'
Execution completed