In [1]:
import pandas
import pandas as pd
Ba_Res=pd.read_excel(r"C:\Users\hp\Shamshad\Bangalore_Restaurents_Food_Types.xlsx")
Ba_Res

,S.No.,Restaurent_Name,Item_Name,Prices,Prices.1,Rating,Address,Phone_Number
0,1.0,Gufha Restaurant,Chicken Biryani,NaN,NaN,4.7,"101, Railway Parallel Rd, Kumarapark West, Ses...",090199 08004
1,NaN,Gufha Restaurant,Chicken Lolipop,400.0,400,NaN,NaN,NaN
2,NaN,Gufha Restaurant,Chicken Tikka,0.0,NaN,NaN,NaN,NaN
3,NaN,Gufha Restaurant,Chicken Malai Tikka,0.0,NaN,NaN,NaN,NaN
4,NaN,Gufha Restaurant,Charliee Kebab,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1231,NaN,Lotus Pavilion,Grilled Salmon with Lemon Butter Sauce,NaN,1250,NaN,NaN,NaN
1232,NaN,Lotus Pavilion,Chicken Stroganoff (Continental),NaN,795,NaN,NaN,NaN
1233,NaN,Lotus Pavilion,"Mixed Non‑Veg Platter (Chicken, Fish, Prawns)",NaN,1495,NaN,NaN,NaN
1234,NaN,Lotus Pavilion,Lamb Chops (Grilled),NaN,1350,NaN,NaN,NaN
1235,NaN,Lotus Pavilion,Seafood Curry (Chef’s Special),NaN,1150,NaN,NaN,NaN